body {
  background-color: #d7d9ce;
}

.center {
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px
}

.footer{
  position: absolute;
  bottom:0;
  background-color: #e0e0e0;
}

.websites {
  background-color: #e3e3e4;
  text-align: center;
  padding: 20px;

}

.intro {
  background-color: #13505b;
  background-image: linear-gradient(-90deg, #13505b, #236470);
}

.survey {
  background-color: #e3e3e4;
  padding: 10px;
}

.scores {
    text-align: center;
}
.score {
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #236470;
  /* background-image: linear-gradient(-90deg, #13505b, #236470); */
  /* padding: 50px; */
}
