<div class="survey">
  <p style="font-size: 20px; text-align: center; text-decoration: underline;">Survey for website one</p>
  <form id="surveyForm">
    <!-- Question a1 -->
    <div class="form-group">
      <label for="Q1">The site makes me want to stay on it</label>
      <select class="form-control" id="Q1">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <!-- Question a2 -->
    <div class="form-group">
      <label for="Q2">Would be succesful in making a customer interested in their services</label>
      <select class="form-control" id="Q2">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <!-- Question a3 -->
    <div class="form-group">
      <label for="Q3">Your overall experiance was positive</label>
      <select class="form-control" id="Q3">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <!-- Question a4 -->
    <div class="form-group">
      <label for="Q4">I would visit this website again</label>
      <select class="form-control" id="Q4">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <p style="font-size: 20px; text-align: center; text-decoration: underline;">Survey for website two</p>
    <!-- Question b1 -->
    <div class="form-group">
      <label for="Q5">The site makes me want to stay on it</label>
      <select class="form-control" id="Q5">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <!-- Question b2 -->
    <div class="form-group">
      <label for="Q6">Would be succesful in making a customer intrested in their services</label>
      <select class="form-control" id="Q6">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <!-- Question b3 -->
    <div class="form-group">
      <label for="Q7">Your overall experiance was positive</label>
      <select class="form-control" id="Q7">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
    <!-- Question b4 -->
    <div class="form-group">
      <label for="Q8">I would visit this website again</label>
      <select class="form-control" id="Q8">
        <option> </option>
        <option value="5">Strongly agree</option>
        <option value="4">Somewhat agree</option>
        <option value="3">Agree</option>
        <option value="2">Somewhat disagree</option>
        <option value="1">Strongly disagree</option>
      </select>
    </div>
  </form>
  <button type="button" class="btn btn-outline-dark btn-lg btn-block" id="submit">Submit</button>
</div>
